html {
    height: 100%;
}

body {
    text-align: center;
    background: #333333;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background: #FFFFFF;
}

.label {
    display: block;
    width: 100px;
    height: 100px;
}

.label-blue {
    background-color: #1565c0;
    margin: 50px;
}

.label-green {
    background-color: #2e7d32;
    margin: 50px;
}

.label-red {
    background-color: #c2185b;
    margin: 50px;
}

.label-yellow {
    background-color: #ff9900;
    margin: 50px;
}