html {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    color: dimgray;
    line-height: 1.5;
    min-height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Header*/
.akono {
    border-top: 20px solid dimgray;
    height: 150px;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    margin: auto;
}

.links-header {
    display: flex;
}

.list-header {
    display: flex;
    font-size: 25px;
    align-self: center;
}

.list-header ul li {
    flex-direction: column;
}

li {
    list-style: none;
    padding: 0 30px;
}

ul li a {
    text-decoration: none;
    color: #999999;
}

ul li a:hover {
    color: #1565c0;
}

/*Main*/
.container-main {
    background-color: lavender;
    border-top: 1px solid lightgrey;
    height: 100%;
}

h1 {
    color: grey;
}

span {
    color: black;
}

.content {
    text-align: center;
    margin: 25px 100px;
}

.adjectives {
    display: flex;
    justify-content: space-around;
    max-width: 980px;
    margin: 0 auto;
}

.design, .creative,
.usable, .original {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0.5px solid;
    color: white;
    padding: 5px;
}

.design p, .creative p,
.usable p, .original p {
    margin: 10px;
}

h3 {
    text-align: center;
}

.design {
    background-color: #ff6666;
    border-color: #ff6666;
}

.creative {
    background-color: coral;
    border-color: coral;
}

.usable {
    background-color: lightpink;
    border-color: lightpink;
}

.original {
    background-color: darksalmon;
    border-color: darksalmon;
}

.design p, .creative p,
.usable p, .original p {
    align-self: center;
}

/*Pictures*/
.wrap-pictures {
    margin: 20px auto;
    border: 1px solid lightgrey;
    height: 250px;
    width: 980px;
    background: linear-gradient(to bottom, rgba(244, 239, 255, 0.76) 11%, rgba(255, 255, 255, 1) 47%);
}

.pictures {
    display: flex;
    align-items: center;
    height: 100%;
}

.buttons {
    display: flex;
    margin: 0 30px;
}

.img1,
.img5 {
    margin: 0 10px;
}

.img {
    border: 1px solid lightgrey;
    height: 165px;
    width: 240px;
    padding: 5px;
    margin: 0 5px;
}

.info-company {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.work-akono {
    border-right: 1px dotted grey;
    width: 50%;
    margin: 20px 100px;
}

.latest {
    width: 40%;
    margin: 20px 100px 20px 60px;
}

.benefits li {
    background: url("../images/blue-bullet.png") no-repeat;
}

.read-more {
    background: url("../images/blue-button-bg.png") no-repeat;
    height: 50px;
}

.read-more:hover {
    background: url("../images/red-button-bg.png") no-repeat;
}

.read-more a {
    color: white;
    margin: 0 30px;
    list-style: none;
    text-decoration-line: none;
}

h4 {
    color: blue;
    margin: 0;
}

h4 a {
    list-style: none;
    text-decoration-line: none;
}

.latest p {
    margin: 0;
}

.latest p a {
    color: #999999;
    list-style: none;
    text-decoration-line: none;
}

/*Footer*/
.copyright {
    height: 50px;
    margin: 0 150px;
}

.foot {
    border-top: 1px dotted darkgrey;
}