* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header,
.bottom_footer,
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header {
    padding: 1rem;
    background-color: lightgray;
    border-bottom: 1px solid darkgrey;
}
.bottom_footer {
    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid darkgrey;;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: table;
    clear: both;
}

#logo,
#links li {
    float: left;
}

#links {
    float: right;
    font-size: 2rem;
    line-height: 1;
    margin-top: 34px;
}

#links li + li {
    margin-left: 20px;
}

#links a {
    text-decoration: none;
    color: darkslateblue;
    position: relative;
}

#links a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: green;
    transform: translateX(-50%);
    transition: width .5s, background-color .5s;
}

#links a:hover {
    color: green;
    transition: color .5s;
}
#links a:hover::after {
    width: 100%;
    color: purple;
}

img {
    min-width: 100%;
    height: auto;
}
.main_text {
    background: #66f;
}
.aside-first {
    background: #668877;
}
.aside-second .main_text,
.body-left .main_text {
    width: 50%;
}
.aside-second,
.aside-first {
    width: 25%;
}
.body-left .main_text {
    float: left;
}
.body-left .aside-first {
    float: right;
}
.body-left .aside-second {
    float: right;
}
.aside-second {
    background: coral;
}