* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    height: 197px;
}

.product {
    position: relative;
    float: left;
    margin: 10px;
    padding: 20px 20px 0 20px;
    width: calc(25% - 20px);
    box-shadow: 0 0 0 1px #e1e1e1;
}

.product-name {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.product-img-wrap {
    max-width: 100%;
    padding: 30px 0 55px;
}

.btn {
    float: right;
    padding: 8px 12px;
    line-height: 1;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-default {
    background-color: #742f00
}

.btn-default:hover {
    background-color: #ff6700;
}

.labels {
    position: absolute;
    font-size: 14px;
    color: #fff;
    padding: 8px 8px 8px 20px;
    line-height: 1;
    height: 30px;
    top: 20px;
    left: 0;
}

.label-new {
    background-color: #00a7b2;
}

.label-off {
    background-color: #ff6700;
}

.label-super {
    background-color: #5a00ff;
}

.price {
    float: left;
    font-size: 18px;
    line-height: 30px;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: table;
    clear: both;
}
.product-info {
    margin-bottom: 50px;
}