* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.wrapper {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.header {
    height: 100px;
    background-color: grey;
    color: chartreuse;
    font-size: 25px;
}

.main_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
}

.navigation {
    background-color: lightskyblue;
    width: 30%;
    padding: 10px;
    order: 1;
}

.content {
    background-color: lightpink;
    align-self: stretch;
    padding: 10px;
    width: 40%;
    order: 2;
}

.stuff {
    background-color: orange;
    width: 30%;
    padding: 10px;
    order: 3;
}

.footer {
    background-color: darkgray;
    height: 50px;
    font-weight: bolder;
}